<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form method = 'post' action="/user">
    <label>Username
        <input type="text" name="username" th:value="${username}"/>
    </label>
    <label>Email
        <input type="email" name="email" th:value="${email}"/>
    </label>
    <label>Password
        <input type="password" name="password"/>
    </label>
    <label>Password Verify
        <input type="password" name="verify" />
    </label>
    <input type = 'submit' value = 'Submit'>
</form>
<p th:if="${error}">Passwords don't match</p>
</body>
</html>