<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
<head>
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<form method = 'post' action="/user">
    <label>Username
        <input type="text" th:field="${user.username}" />
        <p class="error" th:errors="${user.username}"></p>

    </label>
    <label>Email
        <input type="email" th:field="${user.email}"/>
        <p class="error" th:errors="${user.email}"></p>
    </label>
    <label>Password
        <input type="password" th:field="${user.password}"/>
        <p  class="error" th:errors="${user.password}"></p>
    </label>
    <label>Password Verify
        <input type="password" th:field="${user.verify}" />
        <p  class="error"  th:errors="${user.verify}"></p>

    </label>
    <input type = 'submit' value = 'Submit'>
</form>
<p class="error" th:if="${errors}">Passwords don't match</p>
</body>
</html>